<div class="row marketing join">
  <div class="col-md-12">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Your Details</h3>
      </div>
      <form class="panel-body" ng-submit="join()">
          <label>
            Username
          </label>
          <input class="input-lg form-control ng-pristine ng-valid" maxlength="20" ng-model="name" >
          <p>IP :
              <i>{{ip}}</i>
          </p>
          <p>Type :
              <i>{{type}}</i>
          </p>
          <p>OS :
              <i>{{os}}</i>
          </p>
          <p>Online :
              <i>{{online}}</i>
          </p>
          <p>Local Time : {{localTime | date: 'h:mma'}}</p>
          <p>Time Zone :
              <i>{{timeZone}}</i>
          </p>
        <input class="btn btn-block btn-primary" type="submit" value="Join">
      </form>
    </div>
  </div>
</div>
